<!-- Hibernate file-based configuration document.-->
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

	<hibernate-configuration>
		<session-factory>
			<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
			<property name="connection.url">jdbc:mysql://localhost:3306/03_hibernate</property>
			<property name="connection.username">root</property>
			<property name="connection.password">1234</property>
			<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
			<property name="hbm2ddl.auto">create</property>
			<!-- <property name="hbm2ddl.auto">create</property> -->
			<property name="show_sql">true</property>
			<!-- <property name="format_sql">true</property> -->
			<property name="hibernate.current_session_context_class">thread</property>
			
			<!-- mapping classes -->
			<!--
			-->
			<mapping class="entity.e001.User" />
			<mapping class="entity.e002onetoone.Country"/>
			<mapping class="entity.e002onetoone.Capital"/>
			<mapping class="entity.e003onetomany.Author"/>
			<mapping class="entity.e003onetomany.Book"/>
			<mapping class="entity.e004manytomany.Actor"/>
			<mapping class="entity.e004manytomany.Movie"/>
		</session-factory>
	</hibernate-configuration>